@keyframes nudge {
  0% {
    transform: rotate(0deg);
  }
  50% {
    transform: rotate(30deg);
  }
  100% {
    transform: rotate(0deg);
  }
}

main {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
}

img {
  width: 400px;
  margin-bottom: 30px;
}
.image-one{
  animation-name: nudge;
  animation-duration: 3s;
  border-radius: 0% 50%;
}

img:hover {
  transform: rotate(20deg);
}

.links {
  font-family: "Amatic SC", cursive;
  font-size: 4em;
  margin-bottom: 30px;
}

.contact-form {
  width: 200px;
  margin-bottom: 30px;
  background-color: transparent;
  color: whitesmoke;
}

h1 {
  color: black;
  margin-bottom: 30px;
}

.button {
  border: none;
  background-color: transparent;
  width: 200px;
  height: 200px;
  font-size: 3em;
  text-shadow: 2px 2px rgb(20, 19, 19);
  font-family: "Lobster", cursive;
}

.button:hover {
  color: #caa472;
}

p {
  text-align: center;
  padding: 50px;
  color: #caa472;
  font-weight: bold;
  font-size: 1.5em;
  font-family: "Amatic SC", cursive;
  text-shadow: 1px 1px black;
}

// desktop
@media only screen and (min-width: 1025px) {
  main {
    height: 700px;
  }
}
