@import url("https://fonts.googleapis.com/css2?family=Amatic+SC&family=Lobster&display=swap");

* {
  margin: 0;
  padding: 0;
}

nav {
  background-color: #3a3c35;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

a {
  color: black;
  font-size: 1.2em;
  font-style: italic;
  font-weight: bolder;
  font-family: "Amatic SC", cursive;
}

a:hover {
  color: #f0e68c;
}

footer {
  font-size: 0.5em;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-end;
  }
// tablet

@media only screen and (min-width: 767px) and (max-width: 1024px) {
  nav {
    width: 50%;
    justify-content: flex-start;
    a {
      padding-right: 10px;
      &:first-child {
        padding-left: 10px;
      }
    }
  }
}

// desktop
@media only screen and (min-width: 1025px) {
  nav {
    width: 50%;
    justify-content: flex-start;
    a {
      padding-right: 10px;
      &:first-child {
        padding-left: 10px;
      }
    }
  }
}
