header {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  font-family: "Lobster", cursive;

  h1 {
    font-weight: bold;
    font-size: 2em;
  }
}
main {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
article {
  background-color: transparent;
  font-family: "Amatic SC", cursive;
  text-align: center;
  width: 150px;
  margin: 10px;
  color: #caa472;
  font-weight: bold;
  font-size: 1.5em;
  text-shadow: 1px 1px black;
}

img {
  width: 100%;
}

p {
  margin-top: 10px;
}

#dates {
  font-family: "Courier New", Courier, monospace;
  font-weight: bolder;
}

.item:hover {
  transform: scale(1.5);
  transition: 3s;
}

// tablet
// move header to the right of the screen

@media only screen and (min-width: 767px) and (max-width: 1024px) {
  header {
    justify-content: flex-end;
    margin-right: 40px;
    font-size: 1.5em;
    a {
      margin-left: 30px;
    }
  }
  article {
    width: 250px;
    justify-content: space-around;
    margin: 15px;
  }
}
// desktop
// header on the right of the screen
// have four article in a row instead of two

@media only screen and (min-width: 1025px) {
  header {
    justify-content: flex-end;
    margin-right: 40px;
    font-size: 1.5em;
    a {
      margin-left: 30px;
    }
  }
  article {
    width: 200px;
    flex-direction: row;
    justify-content: space-around;
    margin: 50px;
  }
}
