@import url("https://fonts.googleapis.com/css2?family=Amatic+SC&family=Lobster&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Amatic+SC&display=swap");
* {
  overflow-x: hidden;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

main {
  width: 100vw;
  color: white;
  z-index: 99;
  position: absolute;
  margin: 30px auto;
  padding: 40px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

html {
  scroll-behavior: smooth;
}

section {
  margin-top: 1000px;
}

nav {
  position: fixed;
  top: -120px;
  top: 0;
  font-size: 2em;
  z-index: 1000;
}

#nav {
  list-style-type: none;
  margin: 0;
  padding: 0px;
  display: flex;
  justify-content: flex-start;
  opacity: 0.3;
}

.navList {
  margin-left: 20px;
}

a {
  color: white;
}

a:visited {
  color: white;
}

a:hover {
  color: gray;
}

h1 {
  margin: 0;
  padding: 0;
  font-size: 3em;
}

h2 {
  font-size: 3em;
}

h3 {
  font-size: 2em;
}

h4 {
  font-size: 1em;
  text-shadow: 2px 2px black;
}

p,
li {
  font-size: 2rem;
  text-shadow: 2px 2px black;
}

h1,
h2,
h3 {
  font-family: "Amatic SC", cursive;
  font-style: normal;
  text-shadow: 2px 2px black;
}

canvas {
  position: fixed;
  top: 0;
  left: 0;
}

header {
  background: transparent;
  font-size: 2.5rem;
  padding: 2rem;
  margin-bottom: 200px;
}

section {
  padding: 1rem;
  font-size: 1.25rem;
  line-height: 1.5;
}

blockquote {
  margin: 0;
  padding-top: 20px;
  margin-top: 160px;
  margin-bottom: var(--spacing);
  text-shadow: none;
  overflow-y: hidden;
}

blockquote ~ p {
  color: beige;
  background-color: transparent;
  font-size: 2rem;
  display: inline;
  line-height: 1;
  text-shadow: 2px 2px gray;
}

footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  color: white;
  text-align: center;
}

#about {
  margin-left: 50%;
}

#projects {
  margin-right: 50%;
}

#underground {
  margin-right: 50%;
}

#drill {
  margin-left: 50%;
}

#remote {
  margin-left: 50%;
}

#contacts {
  margin-bottom: 0%;
  margin-top: 100px;
}
#contactText {
  margin-right: 60%;
  font-size: 1.5rem;
}

#workHeading {
  /* text-align: center; */
}
